.header {
  background: #72b993;
  color: #fff;
  padding: 1.5rem 0;

  &__content {
    width: min(1200px, 90%);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  &__logo {
    img {
      height: 100px;
      width: auto;
      display: block;
    }
  }

  &__nav {
    display: flex;
    gap: 1.5rem;

    a {
      font-family: "Merriweather", serif;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.5s ease, transform 0.3s ease;

      &:hover {
        color: #000;
        transform: scale(1.2);
      }
    }
  }
}
