.home {
  width: min(800px, 90%);
  margin: 2rem auto;
  padding: 10px;
  font-family: "Inter", sans-serif;
  text-align: center;

  .title h1 {
    font-family: "Merriweather", serif;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .navigation {
    margin-bottom: 1.5rem;

    a {
      font-family: "Merriweather", serif;
      font-size: 1rem;
      color: #003c57;
      cursor: pointer;
      transition: color 0.4s ease;

      &:hover {
        text-decoration: underline;
        color: #00648a;
      }
    }
  }

  /* --- FORM CONTAINER --- */
  .form-container {
    background: #cccccc18;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: left;
    margin-top: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    h2 {
      text-align: center;
      font-family: "Merriweather", serif;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.5rem;

    label {
      font-weight: 600;
      margin-bottom: -0.3rem;
    }

    input,
    select {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      width: 100%;
    }

    fieldset.address {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      border: 1px solid #ccc;
      padding: 1rem;
      margin-top: 1rem;
      border-radius: 6px;

      legend {
        font-family: "Merriweather", serif;
        font-size: 1rem;
        padding: 0 0.5rem;
      }
    }
  }
}

.datepicker-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}

/* Réduit la taille du mois + année */
.react-datepicker__current-month {
  font-size: 1rem !important;
  font-weight: 600;
}

// error message
.error {
  border: 1px solid #d32f2f !important;
  background: #ffecec;
}

.error-text {
  color: #d32f2f;
  font-size: 0.85rem;
  margin: -5px 0 10px;
  text-align: left;
}