
.employee-table {
  width: 100%;
  margin-top: 2rem;

  .search-input {
    width: 250px;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background: #003c57;
      color: white;
      padding: 0.8rem;
      cursor: pointer;
    }

    td {
      padding: 0.7rem;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }

    tr:nth-child(even) {
      background: #f7f7f7;
    }
  }

  .pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}